/*-----------------------------------------------
This is a custom stylehseet for steveslatky.com 
@author: Stephen Slatky
Created: 02/17/2015

------------------------------------------------*/

nav-style{
	background-color: #FFFFFF;
}
